body {
	margin: 0;
	display: flex;
}
#sectionA {
	background: blue;
	width: 33px;
	height: 33vh;
}
#sectionB {
	background: red;
	width: 33px;
	height: 33vh;
}
#sectionC {
	background: green;
	width: 33px;
	height: 33vh;
	len
}
